<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg modal-center" role="document">
        <div class="modal-content login-content">
            <div class="modal-body row">
                <div class="col login-col">
                    <form action="{{ path('login') }}" method="post" id="formLogin">
                        <h1>Please, login. </h1>
                        <div class="form-group is-invalid" id="loginError">
                            Error
                        </div>
                        <div class="form-group input-field ">
                            <input type="email" name="_username" class="form-control" placeholder="Email">
                        </div>
                        <div class="form-group input-field ">
                            <input type="password" name="_password" class="form-control" placeholder="Password">
                        </div>
                        <div class="form-group row">
                            <div class="col">
                                <span class="btn btn-primary" id="login">Enter</span>
                                {#<button type="button" class="btn btn-primary" id="login">Enter</button>#}
                            </div>
                            {#<div class="col">#}
                                {#<a href="#" class="btn btn-link">forgot password</a>#}
                            {#</div>#}
                        </div>
                    </form>
                </div>
                <div class="col login-col">
                    <h1>
                        Not yet registered</h1>
                    <div>
                        Registration in our system will take you no more than 5 minutes
                    </div>
                    <div>
                        <a href="{{ path("register") }}">
                            <button type="button" class="btn btn-success">Registration</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
