<div class="container-fluid">
    <section id="profile-bg">
        <div class="container">
            <h3 class="title">
                Profile Page
            </h3>
        </div>
    </section>
    <div class="row">
        <div class="col-4">
            <h4 class="informative">First Name</h4>
            <label>{{ user.details.firstName }}</label>
            <div class="elementor-divider">
                <div class="elementor-divider-separator"></div>
            </div>
        </div>
        <div class="col-4">
            <h4 class="informative">Last Name</h4>
            <label>{{ user.details.lastName }}</label>
            <div class="elementor-divider">
                <div class="elementor-divider-separator"></div>
            </div>
        </div>
        <div class="col-4">
            <h4 class="informative">Email</h4>
            <label>{{ user.email }}</label>
            <div class="elementor-divider">
                <div class="elementor-divider-separator"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <h4 class="informative">Signed up</h4>
            <label>{{ user.created|date("F j Y, H:i") }}</label>
            <div class="elementor-divider">
                <div class="elementor-divider-separator"></div>
            </div>
        </div>
        <div class="col-4">
            <h4 class="informative">Cell</h4>
            <label>{{ user.details.cell }}</label>
            <div class="elementor-divider">
                <div class="elementor-divider-separator"></div>
            </div>
        </div>
    </div>
</div>