<div class="container-fluid">
    <section id="withdrawal-bg">
        <div class="container">
            <h3 class="title">
                Withdrawals
            </h3>
        </div>
    </section>
    <div class="row card-deck">
        <div class="col-4 card">
            <div class="card-body">
                <h4 class="card-title">Credit Card</h4>
                <form id="subscription-form">
                    <div id="card" class="card-js form-group" data-stripe="true"></div>
                    <div class="text-center">
                        <button type="button" class="btn btn-login">Add Payment Details</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-8">
            <h4 class="informative">WHAT IS BITCOIN</h4>
            <h2 class="title">New Currency - New Lifestyle!</h2>
            <div class="elementor-divider left slice">
                <div class="elementor-divider-separator left"></div>
            </div>
            <p class="titled">
                Bitcoin is a revolutionary invention of the last decade. Its essential meaning is money
                digitization. It became the first decentralized peer-to-peer payment network for using without any
                central authority or middlemen. In a nutshell, bitcoin is the money for Internet. Its original
                purpose is providing all people with universal currency for different operations. Bitcoin can also
                be described as the most prominent triple entry bookkeeping system in existence.
            </p>
        </div>
    </div>
</div>