{% extends 'index.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/security.css') }}">
{% endblock %}
{% block body %}
    <section id="header">
        {{ include('blocks/nav.html.twig') }}
        {% if error %}
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-lg-5 col-md-5 col-sm-10 col-xs-10 pt-lg-4 pt-md-4 pt-sm-1">
                    <form action="{{ path('login') }}" method="post" class="from-horizontal">
                        <div class="form-group">
                            <label for="username" class="text-warning font-weight-bold">
                                {% trans %}Username{% endtrans %} // Email:
                            </label>
                            <input type="text" id="username" name="_username" value="{{ last_username }}"
                                   class="form-control"/>
                        </div>
                        <div class="form-group">
                            <label for="password" class="text-warning font-weight-bold">
                                {% trans %}Password{% endtrans %}:
                            </label>
                            <input type="password" id="password" name="_password" class="form-control"/>
                        </div>

                        {#
                            If you want to control the URL the user
                            is redirected to on success (more details below)
                            <input type="hidden" name="_target_path" value="/account" />
                        #}

                        <button type="submit" class="btn btn-login mt-3 btn-lg">
                            {% trans %}Login{% endtrans %}
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </section>

{% endblock %}