<h3>Welcome to Tetra Crypt system!</h3>

<h4>Hi {{ name }}! You're successfully registered.</h4>
<p>
    To confirm your registration, you shout visit <a href="{{ url("user_activate",{"hash":hash}) }}">link</a>
</p>
<b>Thanks!</b>

