<nav class="navbar navbar-dark bg-dark navbar-expand-lg text-uppercase text-light font-weight-bold">
    <a class="navbar-brand font-size-bigger" href="{{ path("index") }}">
        Tetra crypto
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <ul class="navbar-nav">
                <li class="nav-item px-4">
                    <b data-toggle="modal" data-target="#exampleModal"><a class="nav-link cool-link" href="{{ path('index') }}">
                        {% trans %}Home{% endtrans %}
                        </a>
                    </b>
                </li>
            </ul>
        </div>
    </div>
</nav>