{% extends 'index.html.twig' %}
{% block body %}
    {{ include('blocks/nav.html.twig') }}
    <div class="container">
        <div class="row">
            <div class="col">
                <h3>The user has the following errors</h3>
                <ul class="list-group">
                    {% for error in errors %}
                        <li class="list-group-item">{{ error.message }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}