html, body {
}

#section-points {
    background: url(../images/background.points.jpg) fixed center;
    background-size: cover;
    padding: 120px 0;
    color: #fff;
}

#section-notebook {
    background: url(../images/background.notebook.jpg) no-repeat top center;
    background-size: cover;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 120px 0;
    color: #fff;
}

#advantages {
    background: url(../images/background.woman.jpg) no-repeat top center;
    background-size: cover;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 60px 0;
}

#section-what {
    background: url(../images/background.what.jpg) no-repeat top center;
    background-size: cover;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 120px 0;
    color: #000;
}

#about {
    background: url(../images/background.man.jpg) no-repeat top center;
    background-size: cover;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 120px 0;
    color: #000;
}

.informative {
    line-height: 1.25;
    color: #9b9b9b;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    font-family: Montserrat, sans-serif;
    letter-spacing: 10px;
    text-align: inherit;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.elementor-divider {
    text-align: center;
    padding-top: 26px;
    padding-bottom: 26px;
    line-height: 0;
    font-size: 0;
}

.elementor-divider-separator {
    width: 13%;
    border-top-style: solid;
    border-top-width: 2px;
    border-top-color: #fab915;
    display: inline-block;
}

.elementor-divider.left {
    text-align: left;
}

.elementor-divider-separator.left {
    width: 25%;
}

.elementor-divider.slice {
    margin-bottom: 30px;
}

.big-icon {
    /*border-width: 5px 5px 5px 5px;*/
    color: #fab915;
    display: inline-block;
    line-height: 1;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    font-size: 50px;
    text-align: center;
    padding: .5em;
    border: 5px solid #818a91;
    background-color: transparent;
}

.circle {
    padding: .5em .5em 20px;
}

.circle::after {
    color: #acb8c1;
    content: '\2192';
    font-weight: 300;
    font-size: 3.125rem;
    font-family: FontAwesome;
    position: absolute;
    bottom: -50px;
    line-height: 1;
    left: 50%;
    -webkit-transform: translate(-50%) rotate(90deg);
    -ms-transform: translate(-50%) rotate(90deg);
    transform: translate(-50%) rotate(90deg);
}

.block {
    margin-bottom: 60px;
}

.circles .block:last-of-type .circle::after {
    content: none;
}

@media (min-width: 768px) {
    .circle::after {
        content: '\2192';
        font-weight: 300;
        font-size: 80px;
        font-family: FontAwesome;
        -webkit-transform: translate(50%);
        -ms-transform: translate(50%);
        transform: translate(50%);
        position: absolute;
        right: 0;
        top: 15px;
        line-height: 1;
    }
}

b.titled {
    font-size: 11px;
    font-family: Montserrat, sans-serif;
    margin-bottom: 20px;
    line-height: 11px;
    display: block;
}

p.titled {
    margin: 0 0 1.5em;
    font-size: 11px;
    font-family: Montserrat, sans-serif;
    display: block;
}

.title {
    font-style: normal;
    font-size: 42px;
    line-height: 1;
    font-family: Montserrat, sans-serif;
    letter-spacing: 0;
    text-align: inherit;
    margin-bottom: 20px;
    font-weight: bolder;
}

.btn-login {
    color: #fff;
    padding: 10px 30px;
    border-radius: 1px;
    transition: .5s;
    background-color: #fab915;
    font-family: Montserrat, sans-serif;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
}

.btn-login:hover {
    background-color: #818a91;
    color: #fff;

}

@media (min-width: 950px) {
    .title {
        font-size: 60px;
    }
}

body {
    font-family: Montserrat, sans-serif;
}

.container-black {
    background-color: #343a40;
    color: #fff;
}

#header {
    background: linear-gradient(
            rgba(108, 122, 137, 0.6),
            rgba(108, 122, 137, 0.6)
    ),
    url(../images/background.header.jpg) center;
);
    background-size: cover;
    height: 100vh;
}

.header-block-text {
    padding-top: 50px;
    padding-bottom: 0;
}

.welcome {
    font-weight: bolder;
    font-size: .9rem;
    letter-spacing: 3px;
    font-family: Montserrat, sans-serif;
}

.welcome-text {
    font-size: 2.5rem;
}

.brand .navbar-brand {
    font-size: 28px;
    color: #000000;
    font-weight: bolder;
}

.navbar {
    background-color: #343a40;
    color: #fff;
    background: linear-gradient(to bottom, rgba(52, 58, 64, 0.75), transparent) !important;
}

@media (min-width: 950px) {
    .navbar {
        background-color: transparent !important;
    }

    .header-block-text {
        padding-top: 150px;
        padding-bottom: 50px;
    }

    .welcome {
        font-size: 1.5rem;
    }

    .welcome-text {
        font-size: 3.5rem;
    }

}

.btn {
    border-radius: 1px;
}

.cool-link {
    font-family: Montserrat, sans-serif;
    display: inline-block;
    color: white;
    font-size: 0.9rem;
    text-decoration: none;
}

.cool-link::after {
    content: '';
    color: #fab915;
    display: block;
    width: 0;
    height: 2px;
    background: #fab915;
    transition: width 0.5s;
}

.cool-link:hover, .cool-link:hover::after {
    color: #fab915;
    width: 100%;
    transition: width 0.5s;
}

.cool-profile {
    color: #fab915 !important;
    transition: .5s;
}

.cool-profile::after {
    content: '';
    color: #818a91;
    display: block;
    width: 0;
    height: 2px;
    background: #818a91;
    transition: width 0.5s;
}

.cool-profile:hover, .cool-profile:hover::after {
    color: #818a91;
    width: 100%;
    transition: width 0.5s;
}

#footer-contacts {
    padding-top: 30px;
    padding-bottom: 30px;
}

#contacts {
    background: url(../images/background.man.jpg) no-repeat top center;
    padding-top: 150px;
    padding-bottom: 150px;
}

.contact {
    display: block;
    padding-top: 20px;
}

.social-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.social-links li {
    display: inline; /* Отображать как строчный элемент */
}

.social-links li > a {
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-link {
    font-size: 12px;
}

.brand {
    margin-bottom: 30px;
}

.links {
    margin-bottom: 30px;
}

.footer-container {
    padding-top: 24px;
    padding-bottom: 12px;
    background-color: #141a21;
}

#features {
    background-color: #f8f8f8;
    background-position: center;
    background-size: cover;
    display: block;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.features-icon {
    font-size: 3rem;
    color: orange;
}

.features-icon::before {
    font-size: 3rem;
}

.features-link {
    color: black;
}

.features-link:hover {
    color: orange;
    transition: all .5s;
    text-decoration: none;
}

#knowMore {
    background-image: url(http://ld-wp.template-help.com/wordpress_64787_v1/wp-content/uploads/2017/08/know-bg.jpg);
    background-size: cover;
    display: inherit;
    color: #fff;
    padding: 75px 0;
}

.want-know-text {
    font-weight: bold;
    font-size: 5rem;
    font-family: Montserrat, sans-serif;
}

.padtext {
    padding-top: 7rem;
    padding-left: 4rem;
}

#go-top {
    position: fixed;
    color: #ffffff;
    background-color: #fab915;
    text-decoration: none;
    overflow: hidden;
    z-index: 999;
    text-align: center;
    border-radius: 50%;
    bottom: 25px;
    right: 70px;
    cursor: pointer;
    display: none;
    width: 58px;
    height: 58px;
    font-size: 48px;
    letter-spacing: normal;
    word-wrap: unset;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-feature-settings: 'liga';
    font-feature-settings: 'liga';
    line-height: 0;
}

#go-top:hover {
    background: #818a91;
}

#calculator {
    background-image: url(http://ld-wp.template-help.com/wordpress_64787_v1/wp-content/uploads/2017/08/culc-bg.jpg);
    background-size: cover;
    display: block;
    color: #fff;
}

.calc {
    font-size: 1.5rem;
    letter-spacing: 1rem;
}

.calculator {
    /*display:  block;*/
}

.calc-input {
    background-color: transparent !important;
    border: 2px solid #6C7A89;
    border-radius: 0;
    font-size: 2rem;
    color: white;
    text-align: center;
}

.ci2 {
    width: 50px;
    font-size: 2rem;
    text-align: center;
    display: inline-block;
    color: #fab915;
    padding: 5px;
    height: 54px;
}

.ci4 {
    width: 100px;
    padding: 1px 0;
    height: 54px;
}

.ci1, .ci2, .ci3, .ci4 {
    width: 100%;
}

.r1 {
    text-align: left;
}

.l1 {
    text-align: right;
}

@media (min-width: 1200px) {
    .ci1 {
        width: 100px;
    }

    .ci2 {
        width: 50px;
    }

    .ci3 {
        width: 200px;
    }

    .ci4 {
        width: 100px;
    }

    #features {
        background-image: url("http://ld-wp.template-help.com/wordpress_64787_v1/wp-content/uploads/2017/08/serv-bg-1.jpg");
    }

    .r1 {
        text-align: right;
    }

    .l1 {
        text-align: left;
    }
}

.number-desc {
    font-size: 72px;
    font-weight: bolder;
    color: #fab915;
}

b.number-titled {
    font-size: 24px;
    display: block;
}

p.number-desc {
    font-size: 14px;
    line-height: 1.7;
}

@media (min-width: 992px) {
    .ci1 {
        width: 100px;
    }

    .ci2 {
        width: 50px;
    }

    .ci3 {
        width: 200px;
    }

    .ci4 {
        width: 100px;
    }

    #about {
        background: url(../images/background.what.jpg) no-repeat top center;
        background-size: cover;
    }
}

@media (min-width: 768px) {
    .ci1 {
        width: 100px;
    }

    .ci2 {
        width: 50px;
    }

    .ci3 {
        width: 200px;
    }

    .ci4 {
        width: 100px;
    }
}

@media (min-width: 576px) {

}

@media (min-width: 576px) {
    .modal-dialog-centered {
        min-height: calc(100% - (1.75rem * 2));
    }
}

.modal-center {
    margin: 0 auto;
    top: 33%;
    align-items: center;
    min-height: calc(100% - (.5rem * 2));
}

.login-content {
    background-color: #343a40;
    padding: 10px;
}

.login-col {
    background-color: #343a40;
    padding-top: 50px;
    padding-bottom: 50px;
    color: #fff
}

.login-col:first-child {
    background-color: #fff;
    color: #000;
    box-shadow: #141a21 0 0 5px;
}

#header-register {

    background-size: cover;
    height: auto;
}
