body {
    background-image: linear-gradient(
            rgba(108, 122, 137, 0.6),
            rgba(108, 122, 137, 0.6)
    ), url(../images/background.header.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
);
}