{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ asset("assets/css/flatui.css") }}">
    <link rel="stylesheet" href="{{ asset("assets/css/app.css") }}">
    <style>
        #circular-progress {
            background-color: #525b64;
            height: auto;
            padding-top: 0.2rem;
            padding-bottom: 0.5rem;
        }

        .circular-chart {
            display: block;
            margin: auto;
            max-width: 80%;
            max-height: 250px;
        }

        .circle-perc-bg {
            fill: none;
            stroke: #eee;
            stroke-width: 0.5;
        }

        .circle-perc {
            fill: none;
            stroke-width: 0.5;
            stroke-linecap: round;
            animation: progress 1s ease-out forwards;
        }

        @keyframes progress {
            0% {
                stroke-dasharray: 0 100;
            }
        }

        .circular-chart.orange .circle-perc {
            stroke: #ff9f00;
        }

        .percentage {
            fill: white;
            font-size: 0.35rem;
            text-anchor: middle;
            font-weight: lighter;
        }

        .center-align {
            text-align: center;
        }

        .font-size-bigger {
            display: block;
            font-size: 1.7rem;
        }
        .is-invalid{
            color: #e74c3c;
            display: none;
        }
    </style>
{% endblock %}
{% block body %}
    {{ include("landing/me/login.html.twig") }}

    {{ include('landing/header.html.twig') }}
    {{ include('landing/background.man.html.twig') }}
    {#{{ include('landing/background.what.html.twig') }}#}
    {{ include('landing/advantages.html.twig') }}
    {#{{ include('landing/background.notebook.html.twig') }}#}
    {{ include('landing/background.points.html.twig') }}
    {#}{ include('landing/circles.perc.html.twig') }#}
    {{ include('landing/background.coins.html.twig') }}
    {#{{ include('landing/background.dollar.html.twig') }}#}
    {{ include('landing/contacts.html.twig') }}
    {{ include('landing/calculator.html.twig') }}

    {{ include('landing/footer.html.twig') }}
    <a href="#" id="go-top">
        <i class="fa fa-angle-up" aria-hidden="true"></i>
    </a>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset("assets/bower/jquery/dist/jquery.min.js") }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
            integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
            integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
            crossorigin="anonymous"></script>
    <script src="{{ asset("assets/js/app.js") }}"></script>
    <script src="{{ asset("assets/js/counter.js") }}"></script>
    <script>
        $(function () {
            $.fn.scrollToTop = function () {
                $(this).hide().removeAttr("href");
                if ($(window).scrollTop() >= "250") $(this).fadeIn("slow");
                var scrollDiv = $(this);
                $(window).scroll(function () {
                    if ($(window).scrollTop() <= "250") $(scrollDiv).fadeOut("slow");
                    else $(scrollDiv).fadeIn("slow")
                });
                $(this).click(function () {
                    $("html, body").animate({scrollTop: 0}, "slow")
                })
            }
        });

        $(document).on("click", ".anchor", function (event) {
            event.preventDefault();
            var id = $(this).attr('href'),
                top = $(id).offset().top;
            $('body,html').animate({scrollTop: top}, "slow");
        });

        $(function () {
            $("#go-top").scrollToTop();
        });
        var $loginError = $("#loginError");
        $("#login").on("click",function(){
            var form = $("#formLogin");
            $loginError.text("").hide();
            $.ajax({
                type: form.attr("method"),
                url: form.attr("action"),
                dataType: "json",
                data: form.serializeArray()
            }).done(function(response){
                if(response.redirect){
                    window.location = response.redirect;
                }
            }).fail(function(response,error){
                if(response.responseJSON && response.responseJSON.message){
                    $loginError.text(response.responseJSON.message).show();
                }
            })
        });
    </script>
{% endblock %}