<section id="advantages">
    <div class="container text-center">
        <div class="row">
            <div class="col">
                <h3 class="title text-center">{% trans %}Buy and Sell bitcoins{% endtrans %}</h3>
                <div class="elementor-divider slice">
                    <div class="elementor-divider-separator left"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-12 number">
                <h2 class="number-desc">1.</h2>
                <b class="number-titled">{% trans %}Buy and Sell bitcoins{% endtrans %}</b>
                <p class="number-titled">{% trans %}basb{% endtrans %}</p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-12 number">
                <h2 class="number-desc">2.</h2>
                <b class="number-titled">{% trans %}Simple steps to Get Started{% endtrans %}</b>
                <p class="number-titled">{% trans %}sstgs{% endtrans %}</p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-12 number">
                <h2 class="number-desc">3.</h2>
                <b class="number-titled">{% trans %}Safe & Secure{% endtrans %}</b>
                <p class="number-titled">{% trans %}sis{% endtrans %}</p>
            </div>
        </div>
    </div>
</section>