<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-6 col-md-12 col-12 offset-0">
                <h3 class="title">{% trans %}About{% endtrans %}</h3>
            </div>
        </div>
        <div class="row separator">
            <div class="col-lg-6 offset-lg-6 col-md-12 col-12 offset-0">
                <div class="elementor-divider left">
                    <div class="elementor-divider-separator"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 offset-lg-6 col-md-12 col-12 offset-0">
                <p>{% trans %}About test{% endtrans %} </p>
            </div>
        </div>
    </div>
</section>