<section id="section-what">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-6">
                <h4 class="informative">WHAT IS BITCOIN</h4>
                <h2 class="title">New Currency - New Lifestyle!</h2>
                <div class="elementor-divider left slice">
                    <div class="elementor-divider-separator left"></div>
                </div>
                <p class="titled">
                    Bitcoin is a revolutionary invention of the last decade. Its essential meaning is money
                    digitization. It became the first decentralized peer-to-peer payment network for using without any
                    central authority or middlemen. In a nutshell, bitcoin is the money for Internet. Its original
                    purpose is providing all people with universal currency for different operations. Bitcoin can also
                    be described as the most prominent triple entry bookkeeping system in existence.
                </p>
                <div class="text-left mt-5">
                    <a href="{{ path("login") }}">
                        <button type="button" class="btn btn-lg btn-login">Read More</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>