<section class="container-fluid justify-content-center text-center" id="features">
    <div class="row text-dark justify-content-center">
        <div class="col-lg-6 col-md-8 col-sm-12 col-xs-12">
            <div class="row mb-5">
                <div class="col-lg-5 offset-lg-2 order-lg-1
                col-sm-10 offset-sm-0 order-sm-2
                col-10 offset-0 order-2
                r1">
                    <h3 class="font-weight-bold">
                        <a class="features-link" href="#">{% trans %}Easy and intuitive{% endtrans %}</a>
                    </h3>
                    <p class="small">{% trans %}eai text{% endtrans %}</p>
                </div>
                <div class="col-lg-4 order-lg-2
                col-sm-2 order-sm-1
                col-2 order-1 l1">
                    <i class="fa flaticon-lightbulb-outline features-icon"></i>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-lg-5 offset-lg-1 order-lg-1
                col-sm-10 offset-sm-0 order-sm-2
                col-10 offset-0 order-2
                r1">
                    <h3 class="font-weight-bold">
                        <a class="features-link" href="#">{% trans %}24/7 LIVE SUPPORT{% endtrans %}</a>
                    </h3>
                    <p class="small">{% trans %}live support text{% endtrans %}</p>
                </div>
                <div class="col-lg-4 order-lg-2
                 col-sm-2 order-sm-1
                 col-2 order-1
                 l1">
                    <i class="fa flaticon-mobile-phone-outline features-icon"></i>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-lg-5 offset-lg-2 order-lg-1
                col-sm-10 offset-sm-0 order-sm-2
                col-10 offset-0 order-2
                r1">
                    <h3 class="font-weight-bold">
                        <a class="features-link" href="#">{% trans %}Trade 24/7{% endtrans %}</a>
                    </h3>
                    <p class="small">Easy-to-use personal wallet will keep your bitcoins in safe.</p>
                </div>
                <div class="col-lg-4 order-lg-2
                col-sm-2 order-sm-1
                col-2 order-1 l1">
                    <i class="fa flaticon-wallet-outline features-icon"></i>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-8 col-sm-12 col-xs-12">
            <div class="row mb-5">
                <div class="col-lg-4 col-2 text-right r1">
                    <i class="fa flaticon-alarm-clock-outline features-icon"></i>
                </div>
                <div class="col-lg-5 col-10 text-left l1">
                    <h3 class="font-weight-bold">
                        <a class="features-link"
                           href="#">{% trans %}Withdrawals take a maximum of 24 hours{% endtrans %}</a>
                    </h3>
                    <p class="small">Highly professional support will answer all your questions regarding bitcoins.</p>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-lg-4 offset-lg-2 col-2 text-right r1">
                    <i class="fa flaticon-user-outline features-icon"></i>
                </div>
                <div class="col-lg-5 col-10 text-left l1">
                    <h3 class="font-weight-bold">
                        <a class="features-link" href="#">{% trans %}Provision of personal expert{% endtrans %}</a>
                    </h3>
                    <p class="small">Instant Exchange allows you to send bitcoin and pay for it with your...</p>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-lg-4 col-2 text-right r1">
                    <i class="fa flaticon-key-of-circular-outline features-icon"></i>
                </div>
                <div class="col-lg-5 col-10 text-left l1">
                    <h3 class="font-weight-bold">
                        <a class="features-link" href="#">{% trans %}Full privacy{% endtrans %}</a>
                    </h3>
                    <p class="small">The recurring transaction feature allows you to schedule future...</p>
                </div>

            </div>
        </div>
    </div>
</section>