<section id="section-points">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h4 class="informative">{% trans %}Buy and Sell bitcoins{% endtrans %}</h4>
                <h2 class="title">{% trans %}Simple Steps to Get Started{% endtrans %}</h2>
            </div>
        </div>
        <div class="row separator">
            <div class="col">
                <div class="elementor-divider">
                    <div class="elementor-divider-separator"></div>
                </div>
            </div>
        </div>
        <div class="row text-center circles">
            <div class="col-lg-4 col-md-4 col-sm-12 block">
                <div class="circle">
                    <div class="big-icon rounded-circle">
                        <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
                    </div>
                </div>
                <h4>{% trans %}Algorithmic trade{% endtrans %}</h4>
                {#<p>Download an app or program Bitcoin Wallet which allows you to send and receive bitcoins. There are#}
                    {#many wallets across various platforms. While their features vary, their functionality remains.</p>#}
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 block">
                <div class="circle">
                    <div class="big-icon rounded-circle">
                        <i class="fa fa-suitcase" aria-hidden="true"></i>
                    </div>
                </div>
                <h4>{% trans %}Trust Asset Management{% endtrans %}</h4>
                {#<p>Once your wallet is downloaded and activated you can add some bitcoins via credit card or with a#}
                    {#Bitcoin Exchange. Keep your private key secure and never lose the device on which the wallet was#}
                    {#installed.</p>#}
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 block">
                <div class="circle">
                    <div class="big-icon rounded-circle">
                        <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                    </div>
                </div>
                <h4>{% trans %}Participation in ICO{% endtrans %}</h4>
                {#<p>The process of sending bitcoins is very easy. In two words, you need to send receiver's public#}
                    {#Bitcoin address in your wallet, specify the amount, confirm address and send.</p>#}
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-xs-12 col-sm-12 col-md-4">
                <div>
                    <svg viewbox="0 0 36 36" class="circular-chart orange">
                        <path class="circle-perc-bg"
                              d="M18 2.0845
          a 15.9155 15.9155 0 0 1 0 31.831
          a 15.9155 15.9155 0 0 1 0 -31.831"
                        />
                        <path class="circle-perc"
                              stroke-dasharray="35, 100"
                              d="M18 2.0845
          a 15.9155 15.9155 0 0 1 0 31.831
          a 15.9155 15.9155 0 0 1 0 -31.831"
                        />
                        <text x="18" y="20.35" class="percentage count">35</text>
                    </svg>
                    <div class="center-align mb-4">
                        <p class="text-white small">
                            {% trans %}Weighted average yield for the last month{% endtrans %}
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-xs-12 col-sm-12 col-md-4">
                <div>
                    <svg viewbox="0 0 36 36" class="circular-chart orange">
                        <path class="circle-perc-bg"
                              d="M18 2.0845
          a 15.9155 15.9155 0 0 1 0 31.831
          a 15.9155 15.9155 0 0 1 0 -31.831"
                        />
                        <path class="circle-perc"
                              stroke-dasharray="65, 100"
                              d="M18 2.0845
          a 15.9155 15.9155 0 0 1 0 31.831
          a 15.9155 15.9155 0 0 1 0 -31.831"
                        />
                        <text x="18" y="20.35" class="percentage count">65</text>
                    </svg>
                    <div class="center-align mb-4">
                        <p class="text-white small">
                            {% trans %}Yield for 2017{% endtrans %}
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-xs-12 col-sm-12 col-md-4">
                <div>
                    <svg viewbox="0 0 36 36" class="circular-chart orange">
                        <path class="circle-perc-bg"
                              d="M18 2.0845
          a 15.9155 15.9155 0 0 1 0 31.831
          a 15.9155 15.9155 0 0 1 0 -31.831"
                        />
                        <path class="circle-perc"
                              stroke-dasharray="92, 100"
                              d="M18 2.0845
          a 15.9155 15.9155 0 0 1 0 31.831
          a 15.9155 15.9155 0 0 1 0 -31.831"
                        />
                        <text x="18" y="20.35" class="percentage count">92%</text>
                    </svg>
                    <div class="center-align mb-4">
                        <p class="text-white small">
                            {% trans %}Ratio of fixed profit and loss trades{% endtrans %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
</section>