<section id="section-notebook">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-5 col-sm-4 col-xs-4">
                <h4 class="informative">
                    BUY BITCOINS
                </h4>
                <h3 class="title">Buy and Sell Bitcoin</h3>
                <div class="elementor-divider left slice">
                    <div class="elementor-divider-separator left"></div>
                </div>
                <div>
                    <b class="titled">There are two ways to buy bitcoins: with a credit card or on an exchange.</b>
                    <p class="titled">
                        Bitcoin was partnered with Simplex to make buying with it card easier. At bitcoin exchange users
                        can
                        buy and sell bitcoins after setting up an account. Making a decision depends on how quickly you
                        want
                        to complete the transaction. There are different fees and terms.
                    </p>
                </div>
                <div class="text-left mt-5">
                    <a href="{{ path("login") }}">
                        <button type="button" class="btn btn-lg btn-login">Sign In</button>
                    </a>
                </div>
            </div>
            <div class="col-lg-6 col-md-7 col-sm-8 col-xs-8">

            </div>
        </div>
    </div>
</section>