<section id="knowMore">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                <h1 class="text-capitalize align-items-center want-know-text">
                    {% trans %}Want to know{% endtrans %}<br/>
                    {% trans %}more about bitcoin{% endtrans %}?
                </h1>
            </div>
            <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12 align-items-center">
                <button class="btn btn-login" type="button">
                    more info
                </button>
            </div>
        </div>
    </div>
</section>