<section id="calculator" class="pb-5 pt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-xs-12">
                <p class="text-uppercase text-muted font-weight-bold calc">
                    {% trans %}calculator{% endtrans %}
                </p>
                <h1 class="text-capitalize welcome-text font-weight-bold">
                    {% trans %}Bitcoin to{% endtrans %}<br>
                    {% trans %}currency calculator{% endtrans %}
                </h1>
            </div>
        </div>
        <div class="elementor-divider left slice">
            <div class="elementor-divider-separator left"></div>
        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12 col-xs-12">
                <h4 class="text-capitalize text-warning font-weight-bold">
                    {% trans %}Turn Bitcoin Into Dollars and Spend Anywhere{% endtrans %}
                </h4>
                <p class="small">
                    {% trans %}Millions of people have made a fortune with bitcoins!{% endtrans %}<br>
                    {% trans %}Check current exchange rates and make your profit from buying/selling
                        bitcoins!{% endtrans %}
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8 col-md-12">
                <form class="form-inline">
                    <input type="number" class="calc-input ci1" value="1" min="0" id="value">
                    {#<input type="text" class="calc-input ci1" readonly value="BTC">#}
                    <select class="calc-input ci4 calc-hover" id="crypto">
                        <option value="btc" selected class="text-dark">BTC</option>
                        <option value="eth" class="text-dark">ETH</option>
                        <option value="ltc" class="text-dark">LTC</option>
                        <option value="xrp" class="text-dark">XRP</option>
                        <option value="bch" class="text-dark">BCH</option>
                    </select>
                    <div class="ci2">=</div>
                    <input type="text" readonly class="calc-input ci3" id="result">
                    <select class="calc-input ci4 calc-hover" id="currency">
                        <option value="usd" selected class="text-dark">USD</option>
                        <option value="eur" class="text-dark">EUR</option>
                    </select>
                </form>
            </div>
        </div>
        <div class="row pt-5">
            <div class="col-lg-8 col-md-8 col-xs-12">
                <button type="button" class="btn btn-login">
                    {% trans %}Learn more{% endtrans %}
                </button>
            </div>

        </div>
    </div>

</section>