<section id="circular-progress">
    <div class="container">
    <div class="row">
        <div class="col-lg-4 col-xs-12 col-sm-12 col-md-4">
            <div>
                <svg viewbox="0 0 36 36" class="circular-chart orange">
                    <path class="circle-perc-bg"
                          d="M18 2.0845
          a 15.9155 15.9155 0 0 1 0 31.831
          a 15.9155 15.9155 0 0 1 0 -31.831"
                    />
                    <path class="circle-perc"
                          stroke-dasharray="35, 100"
                          d="M18 2.0845
          a 15.9155 15.9155 0 0 1 0 31.831
          a 15.9155 15.9155 0 0 1 0 -31.831"
                    />
                    <text x="18" y="20.35" class="percentage count">35</text>
                </svg>
                <div class="center-align mb-4">
                    <p class="text-white small">
                        {% trans %}Weighted average yield for the last month{% endtrans %}
                    </p>
                </div>
            </div>
    </div>

        <div class="col-lg-4 col-xs-12 col-sm-12 col-md-4">
            <div>
                <svg viewbox="0 0 36 36" class="circular-chart orange">
                    <path class="circle-perc-bg"
                          d="M18 2.0845
          a 15.9155 15.9155 0 0 1 0 31.831
          a 15.9155 15.9155 0 0 1 0 -31.831"
                    />
                    <path class="circle-perc"
                          stroke-dasharray="65, 100"
                          d="M18 2.0845
          a 15.9155 15.9155 0 0 1 0 31.831
          a 15.9155 15.9155 0 0 1 0 -31.831"
                    />
                    <text x="18" y="20.35" class="percentage count">65</text>
                </svg>
                <div class="center-align mb-4">
                    <p class="text-white small">
                        {% trans %}Yield for 2017{% endtrans %}
                    </p>
                </div>
            </div>
    </div>

        <div class="col-lg-4 col-xs-12 col-sm-12 col-md-4">
            <div>
                <svg viewbox="0 0 36 36" class="circular-chart orange">
                    <path class="circle-perc-bg"
                          d="M18 2.0845
          a 15.9155 15.9155 0 0 1 0 31.831
          a 15.9155 15.9155 0 0 1 0 -31.831"
                    />
                    <path class="circle-perc"
                          stroke-dasharray="92, 100"
                          d="M18 2.0845
          a 15.9155 15.9155 0 0 1 0 31.831
          a 15.9155 15.9155 0 0 1 0 -31.831"
                    />
                    <text x="18" y="20.35" class="percentage count">92%</text>
                </svg>
                <div class="center-align mb-4">
                    <p class="text-white small">
                        {% trans %}Ratio of fixed profit and loss trades{% endtrans %}
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>