<section id="contacts">
    <div class="container">
        <div class="row">
            <div class="col">
                <h3 class="title">{% trans %}Contacts{% endtrans %}</h3>
                <div class="elementor-divider left slice">
                    <div class="elementor-divider-separator left"></div>
                </div>
            </div>
        </div>
        <div class="row text-left">
            <div class="col">
                <div class="contact">
                    Phone: (123) 123 4567
                </div>
                <div class="contact">
                    Skype: skype
                </div>
                <div class="contact">
                    Email: example@google.com
                </div>
            </div>
        </div>
    </div>
</section>