<footer>
    <div class="container" id="footer-contacts">
        <div class="row">
            <div class="col text-center">
                <div class="brand">
                    <a href="#header" class="navbar-brand">
                        Tetra crypto
                    </a>
                </div>
                {#<div class="links">#}
                    {#<ul class="social-links">#}
                        {#<li>#}
                            {#<a>#}
                                {#<i class="fa fa-facebook" aria-hidden="true"></i>#}
                            {#</a>#}
                        {#</li>#}
                        {#<li>#}
                            {#<a>#}
                                {#<i class="fa fa-twitter" aria-hidden="true"></i>#}
                            {#</a>#}
                        {#</li>#}
                        {#<li>#}
                            {#<a>#}
                                {#<i class="fa fa-google-plus" aria-hidden="true"></i>#}
                            {#</a>#}
                        {#</li>#}
                        {#<li>#}
                            {#<a>#}
                                {#<i class="fa fa-linkedin" aria-hidden="true"></i>#}
                            {#</a>#}
                        {#</li>#}
                        {#<li>#}
                            {#<a>#}
                                {#<i class="fa fa-pinterest" aria-hidden="true"></i>#}
                            {#</a>#}
                        {#</li>#}
                    {#</ul>#}
                {#</div>#}
            </div>
        </div>
    </div>
    <div class="footer-container">
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <p class="text-white">
                        <small>2017 © All Rights Reserved | Privacy Policy</small>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>