<section class="container-fluid container-black">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <small>
                <a href="{{ path('locale',{_locale:'ru'}) }}">ru</a>|<a
                        href="{{ path('locale',{_locale:'en'}) }}">en</a>
            </small>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-right">
            <small id="course">Buy BTC <span id="usdIn"></span>/ Sell BTC <span id="usdOut"></span></small>
        </div>
    </div>
</section>