{{ include('landing/head.block.html.twig') }}
<section id="header">
    {{ include("landing/navbar.html.twig") }}
    <div class="text-white container header-block-text">
        <div class="row align-items-center">
            <div class="col-lg-8 col-md-12 col-sm-12">
                <h4 class="text-uppercase font-weight-bold welcome">
                    {% trans %}welcome{% endtrans %}
                </h4>
                <h1 class="font-weight-bold welcome-text">
                    {% trans %}Choose Progress and Become Successful{% endtrans %}!
                </h1>
                <button type="button" class="btn btn-login mt-5 btn-lg">
                    <strong class="text-white text-uppercase">
                        {% trans %}leave an order{% endtrans %}
                    </strong>
                </button>
            </div>
        </div>
    </div>
</section>