<nav class="navbar navbar-dark bg-dark navbar-expand-lg text-uppercase text-light font-weight-bold">
    <a class="navbar-brand font-size-bigger" href="{{ path("index") }}">
        Tetra crypto
        </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <ul class="navbar-nav">
                {% if not is_granted('ROLE_USER') %}
                    {#<li class="nav-item px-4">#}
                        {#<a class="nav-link cool-link" href="{{ path("login") }}">#}
                            {#{% trans %}Login{% endtrans %}#}
                        {#</a>#}
                    {#</li>#}
                    <li class="nav-item px-4">
                        <b class="nav-link cool-link" data-toggle="modal" data-target="#exampleModal">
                            {% trans %}Login{% endtrans %}
                        </b>
                    </li>
                {% endif %}
                <li class="nav-item px-4">
                    <a class="nav-link cool-link anchor" href="#header">
                        {% trans %}Home{% endtrans %}
                    </a>
                </li>
                <li class="nav-item px-4">
                    <a class="nav-link cool-link anchor" href="#about">
                        {% trans %}About{% endtrans %}
                    </a>
                </li>
                <li class="nav-item px-4">
                    <a class="nav-link cool-link anchor" href="#advantages">
                        {% trans %}Services{% endtrans %}
                    </a>
                </li>
                <li class="nav-item px-4">
                    <a class="nav-link cool-link anchor" href="#features">
                        {% trans %}Our advantages{% endtrans %}
                    </a>
                </li>
                {#<li class="nav-item px-4">#}
                    {#<a class="nav-link cool-link anchor" href="#">#}
                        {#{% trans %}News{% endtrans %}#}
                    {#</a>#}
                {#</li>#}
                <li class="nav-item px-4">
                    <a class="nav-link cool-link anchor" href="#contacts">
                        {% trans %}Contacts{% endtrans %}
                    </a>
                </li>
                {% if is_granted('ROLE_USER') %}

                    <li class="nav-item dropdown px-4">
                        <a class="nav-link cool-profile dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="{{ path("me") }}">About Me</a>
                            <a class="dropdown-item" href="{{ path("logout") }}">Logout</a>
                        </div>
                    </li>
                {% endif %}

            </ul>
        </div>
    </div>
</nav>