{% extends 'index.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/security.css') }}">
{% endblock %}
{% block body %}
    {{ include('landing/head.block.html.twig') }}
    <section id="header-register">
    {{ include("blocks/nav.html.twig") }}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-6 col-sm-10 col-xs-10 text-warning font-weight-bold py-lg-5 py-md-5 py-sm-2">
                <form method="POST" action="{{ path('user_put') }}" enctype="multipart/form-data">
                    <div class="form-group">
                        <label>
                            {% trans %}Email{% endtrans %}:
                        </label>
                        <input type="email" name="email" required class="form-control">
                    </div>
                    <div class="form-group">
                        <label>
                            {% trans %}First name{% endtrans %}:
                        </label>
                        <input type="text" name="first_name" required class="form-control">
                    </div>
                    <div class="form-group">
                        <label>
                            {% trans %}Last name{% endtrans %}:
                        </label>
                        <input type="text" name="last_name" required class="form-control">
                    </div>
                    <div class="form-group">
                        <label>
                            {% trans %}Password{% endtrans %}:
                        </label>
                        <input type="password" name="password" required class="form-control">
                    </div>
                    <div class="form-group">
                        <label>
                            {% trans %}Cell{% endtrans %}:
                        </label>
                        <input type="tel" name="cell" required class="form-control">
                    </div>
                    <button type="submit" id="submit" class="btn btn-login mt-3 btn-lg">
                        {% trans %}submit{% endtrans %}
                    </button>
                </form>
            </div>
        </div>
    </div>
    </section>
{% endblock %}