{% extends 'index.html.twig' %}
{% block body %}
    {{ include("landing/navbar.html.twig") }}
    <div class="container">
        <div class="row">
            <div class="col">
                <form method="POST" action="{{ path('user_edit') }}" enctype="multipart/form-data">
                    <div class="form-group">
                        <label>First name:</label>
                        <input type="text" name="first_name" required class="form-control" value="{{ user.details.firstName }}">
                    </div>
                    <div class="form-group">
                        <label>Last name:</label>
                        <input type="text" name="last_name" required class="form-control" value="{{ user.details.lastName }}">
                    </div>
                    <div class="form-group">
                        <label>Cell:</label>
                        <input type="tel" name="cell" required class="form-control" value="{{ user.details.cell }}">
                    </div>
                    <button type="submit" id="submit" class="btn">submit</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}