{% extends 'index.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/simple-sidebar.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/bower/card-js/card-js.min.css') }}">
    <style>
        .navbar {
            background-color: #343a40 !important;
        }

        #sidebar-wrapper {
            background-color: #343a40 !important;
        }

        #menu li {
            position: relative;
            margin: 0;
            border-bottom: 1px solid rgba(69, 74, 84, 0.7);
            padding: 0;
            display: block;
            width: 100%;
        }

        #menu li > a {
            font-size: 1.2rem;
            font-family: Montserrat, sans-serif;
            font-weight: bold;
            color: rgba(255, 255, 255, .5);
            width: 100%;
            display: block;
        }

        #menu li > a:hover {
            color: rgba(255, 255, 255, .8);
        }

        #profile-bg {
            background-attachment: fixed;
            background-image: url("{{ asset('assets/images/background.points.jpg') }}");
            background-position: center;
            background-size: cover;
            padding: 45px 0;
            color: #fff;
            margin: 0 -20px 20px -20px;
        }

        #withdrawal-bg {
            background-attachment: fixed;
            background-image: url("{{ asset('assets/images/background.payment.jpg') }}");
            background-position: center;
            background-size: cover;
            padding: 45px 0;
            color: #fff;
            margin: 0 -20px 20px -20px;
        }

        #page-content-wrapper {
            padding: 0;
        }
    </style>
{% endblock %}

{% block body %}
    {{ include('landing/navbar.html.twig') }}
    <div id="wrapper" class="toggled">
        <div id="sidebar-wrapper">
            <ul class="nav" id="menu" role="tablist">
                <li class="nav-item">
                    <a class="nav-link cool-link" id="home-tab" data-toggle="tab" href="#bill" role="tab"
                       aria-controls="home" aria-selected="true">
                        My Bills
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active cool-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                       aria-controls="profile" aria-selected="false">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link cool-link" id="contact-tab" data-toggle="tab" href="#refill" role="tab"
                       aria-controls="contact" aria-selected="false">Refill</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link cool-link" id="contact-tab" data-toggle="tab" href="#withdrawals" role="tab"
                       aria-controls="contact" aria-selected="false">Withdrawals</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link cool-link" id="contact-tab" data-toggle="tab" href="#affiliate" role="tab"
                       aria-controls="contact" aria-selected="false">
                        Affiliate program
                    </a>
                </li>
            </ul>
        </div>
        <div class="container-fluid" id="page-content-wrapper">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade" id="bill" role="tabpanel" aria-labelledby="home-tab">
                    {{ include('landing/me/bills.html.twig') }}
                </div>
                <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    {{ include('landing/me/profile.html.twig') }}
                </div>
                <div class="tab-pane fade" id="refill" role="tabpanel" aria-labelledby="contact-tab">
                    {{ include('landing/me/refill.html.twig') }}
                </div>
                <div class="tab-pane fade" id="withdrawals" role="tabpanel" aria-labelledby="profile-tab">
                    {{ include('landing/me/withdrawal.html.twig') }}

                </div>
                <div class="tab-pane fade" id="affiliate" role="tabpanel" aria-labelledby="profile-tab">...</div>
            </div>
        </div>

    </div>

{% endblock %}
    {% block javascripts %}
        {{ parent() }}
        <script src="{{ asset("assets/bower/jquery/dist/jquery.min.js") }}"></script>
        <script src="{{ asset("assets/bower/card-js/card-js.min.js") }}"></script>
        <script>
            $("#subscription-form button").click(function () {
                var myCard = $('#card');
                var cardNumber = myCard.CardJs('cardNumber');
                var cardType = myCard.CardJs('cardType');
                var expiryMonth = myCard.CardJs('expiryMonth');
                var expiryYear = myCard.CardJs('expiryYear');
                var cvc = myCard.CardJs('cvc');
                console.info(cardNumber, cardType, expiryMonth, expiryYear, cvc);
                return false;
            });
        </script>
    {% endblock %}